.about-paragraph {
    background-color: rgba(5,15,5,0.1);
}
.about-paragraph li,
.about-paragraph p {
    width: 60%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.about-paragraph p {
    text-indent: 0;
}
.about-paragraph li {
    position: relative;
    right: -5em;
}
#about-meerkat {
    height: 200px;
    float: left;
}
span.glyphicon {
    text-indent: 0;
}
.about-paragraph a:hover {
    text-decoration: underline
}
.about-paragraph a {
    color: inherit; /* fixme */
}
