/*
 * Globals
 */
a,
a:hover,
a:focus {
  text-decoration: none;
}

/* Custom default button */
.btn {
  color: white;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: rgb(13,75,105);
}

.btn:hover {
  color: white;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


.no-border td {
  vertical-align: center !important;
  border-top: 0px solid white !important;
}

.table>tbody>tr>td {
  vertical-align: inherit;
}

.aslLabel {
  font-weight: 800;
}

.asl-row .aslLabel {
  text-align:right;
}

.one-third-width {
  width: 33%;
}

.table-wrapper {
  margin: auto;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.popover-content {
  color: #d2322d;
}

/* Search button */
button#asl_search {
  margin-left: 5px;
}

button#asl_search:hover {
}

h1.cover-heading {
  font-family: 'Nunito';
  font-size: 60px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

@import 'bootstrap.less';
div#main_card {
  background-color: rgb(236, 236, 236);
  display: inline-block;
  width: 320px;
  min-height: 440px;
  color: black;
  padding-bottom: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 3px 7px 26px 2px black;
  position: relative;
}

div#banner {
  width: 320px;
  height: 90px;
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
  background-color: grey;
}

#main-card-tabs {
  width: 320px;
  height: 45px;
  background-color: rgb(13, 75, 105);
  font-size: 25px;
  line-height: 45px;
  margin-bottom: 15px;
  text-align: left;
}

#main-card-tabs a {
  -moz-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  color: #a5a5a5;
}

#main-card-tabs a:hover {
  color: #fff;
}

a#asl-form-tab {
  padding: 0px 40px;
  border-right: white 2px solid;
}

a#password-form-tab {
  padding: 0 37px;
}

table#password-form {
  margin-left: -2px;
  margin-bottom: 71px;
}

td.password-label {
  font-weight: 800;
}

button.pwgen-btn {
  border-width: 0px;
}

.sex-button>input, .looking-button>input {
  width: 40px;
  height: 40px;
}

a.selected-tab {
  color: #fff !important;
}

.modal-content {
  background-color: rgb(236, 236, 236);
}

.modal-content hr {

}

#input_age {
 margin-left: 31px;
 width: 100px;
}

#input_languages_group {
  padding-bottom: 17px;
  border-bottom: solid 2px rgb(156, 156, 156);
  margin-bottom: 10px;
  margin-top: 8px;
  min-height: 61px;
}

#search-languages {
  margin-bottom: 10px;
}

div#main_table {
  font-size: 18px;
}

#location-text,
#password-text {
  margin-bottom: 10px;
}

#language-toggle, 
#asl-location-button {
  margin-left: -15px;
}

.btn:focus {
  color: white;
}

tr.asl-row>td{
  padding: 2px  8px !important;
}

tr.language-view {
  background-color: #CCC;
}

div.popover-wrapper {
  position: relative;
}

div.gender-button-wrapper {
  margin-left: 42px;
}

div.sex-button, div.looking-button {
  float: left;
}

td.share-location-row {
  text-align: center;
  margin-top: 15px;
}

div.messenger {
  box-shadow: 3px 7px 26px 2px black;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}


div.disconnect-btn {
  float: right;
  padding-right: 5px;
}

img.partner-bar {
  margin-top: -3px;
}

img.disconnect-icon {
  height: 26px;
}

img.video-icon {
  height: 21px;
}

div.video-btn {
  position: absolute;
  right: 35px;
  z-index: 6;
  font-size: 19pt;
  margin-top: 3px;
}

div.video-btn > a > span,
.file-input-label > span {
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #A5A5A5;
}

div.video-btn > a:hover > span,
.file-input-label > span:hover {
  color: black;
}

div.tray {
  color: black;
  width: 100%;
}

div.messenger-item {
  text-align: left;
  color: black;
  clear: both;
}

div.messenger-wrapper {
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 100%;
}

div.messenger {
  height: 100%;
}

div.messages {
  margin-bottom: 5px;
  padding: 7px;
  max-height: 90%;
  overflow-y: auto;
  word-wrap: break-word;
}

div.messages-wrapper {
  max-height: 90%;
  background-color: #f1eded;
  padding: 5px;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.message-from-Peer {
  background-color: rgba(154, 154, 154, 0.4);
  padding: 4px 6px;
  box-shadow: 1px 1px 4px -2px rgb(156,156,156);
  border-top-right-radius: 0.4em;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  margin-bottom: 5px;
  float: left;
}

.message-from-You {
  background-color: rgba(238, 152, 152, 0.4);
  padding: 4px 6px;
  box-shadow: 1px 1px 10px -2px rgb(156,156,156);
  border-top-right-radius: 0.4em;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  float: left;
  margin-bottom: 5px;
}

.mobile .message-from-You {
  float: right;
}

span.messenger-message {
  max-width: 600px;
  word-wrap: break-word;
  min-width: 25px;
  min-height: 30px;
}

a.messenger-a {
  font-weight: 700;
  color: #181818;
}

.messenger-download-local {
  background-color: rgb(228, 134, 134);
}

.messenger-download {
  color: black;
  padding: 6px 7px 8px 8px;
  margin: -5px 5px -5px -5px;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
}

a.messenger-download:hover {
  color: black;
  text-decoration: none;
}

.messenger-download-remote {
  background-color: rgb(165,165, 165);
}

span.messenger-disconnected {
  color: white;
}

.disconnect-wrapper {
  clear: both;
}

div.partner {
  overflow: hidden;
}
textarea.messenger-text-input {
  resize: none;
  max-height: 95px;
  height: 35px;
}

/* TODO optimize this image by making the actual gif smaller */
.messenger-typing img {
}

.messenger-typing {
  clear: both;
  text-align: left;
}

div.requesting-video,
div.request-video {
  margin-left: -5px;
  margin-top: -5px;
  margin-right: -5px;
}

video.messenger-local-video {
  position: relative;
  width: 22%;
  margin-top: -125px;
  float: right;
  margin-right: 25px;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

button.messenger-again:hover,
button.messenger-again {
}

img.messenger-img {
  max-width: 99%;
  height: auto;
  vertical-align: top;
  margin-bottom: 7px;
  padding-top: 3px;
}

/* File Input *****/
label input[type="file"] {
  position: fixed;
  top: -1000px;
}

label.file-input-label {
  position: absolute;
  right: 7px;
  font-size: 15pt;
  margin-top: 5px;
  z-index: 5; 
  text-shadow: 0 0 0 white;
}

label.file-input-label:hover {
  cursor: pointer;
}

.tt-query {

}
.tt-hint {
  
}
.tt-suggestion {
  
}
.tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  width: 100%;
  border: 1px solid #ccc;
}

.input_button_on {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.language-box {
  margin: 4px;
}

.input_button_off {
  background-color: rgb(197, 180, 180);
}

.password-row #input-password {
  width: 200px;
  margin-left: auto;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.language-box {
  font-size: 11pt;
}

#input_languages_group span {
  font-size: 13pt;
  margin: 0 -2px 3px 7px;
  vertical-align: middle;
}

.male.checked {
  background-color: rgb(108, 144, 255);
}

.female.checked {
  background-color: rgb(222, 95, 183);
}

.suggested, 
.male, .female {
  background-color: rgb(189, 189, 189);
  height: 30px;
}

.suggested.checked {
  background-color: #33DD55;
}

.twitter-typeahead, .typeahead {
  width: 100%;
}

#input_languages_wrapper {
  text-align: left;
}

#btn-chattab-wrapper > div.clickable > a > div:hover > span,
#btn-chattab-wrapper > div.chattab-selected > a > div > span {
  color: #FFF;
}

#btn-chattab-wrapper {
  background-color: rgb(13, 75, 105);
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  font-size: 15pt;
  width: 100%;
  max-width: 700px;
  height: 38px;
  padding-top: 5px;
  font-family: Trebuchet MS, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#btn-chattab-wrapper > div,
#btn-chattab-wrapper a,
#btn-chattab-wrapper button,
#btn-chattab-wrapper {
  background-color: rgb(13, 75, 105);
  color: #A5A5A5
}

.btn-chattab {
  cursor: default;
  margin-left: 10px;
}

a.btn-chattab-ex {
  padding: 2px 9px;
  font-size: 13pt;
  border-right: solid 3px white;
}

#btn-chattab-plus {
  cursor: pointer;
}

span.roll-plus-button {
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 13pt;
}

.plus-button {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.ex-button {
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

div#btn-chattab-wrapper > div.btn-group > a.btn-chattab-ex:hover {
  color: #EEE;
  cursor: pointer;
}

div.clickable > a > div.partner-text-wrapper {
  cursor: pointer;
}

div.partner-text-wrapper {
  display: inline;
}

#btn-chattab-plus:hover {
  color: #EEE;
}

#javascript_message {
  position:absolute;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
}

div#main_table .required {
  color: rgb(216, 15, 15);
}

.messenger-youtube-title {
  font-weight: bold;
}

span.messenger-youtube-title {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
button.messenger-youtube-watch {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 12px;
}
button.messenger-youtube-ex {
  margin-top: -739px;
}

#bottom-links {
  bottom: 0px;
}
#bottom-links a {
  padding-left: 1em;
  padding-right: 1em;
}
